{% extends 'base.html' %}

{% block content %}


<div class="container col-lg-4">
    <div class="p-4 m-4 border rounded py-2">
        <h3 class="alert alert-light border rounded">Create An Account</h3>
        <form action = "/accounts" method="POST">
            {% csrf_token %}
            {% if error %}
            <div class="alert alert-danger" role = "alert">
                {{error}}
            </div>
            {% endif %}
            <!--First Name-->
            <div class="form-group form-group-sm">
                <label for="">First Name</label>
                <input required type="fname" name="fname" value="{{values.fname}}" id="" class="form-control" placeholder="">
            </div>
            
            <!--Last Name-->
            <div class="form-group form-group-sm">
                <label for="">Last Name</label>
                <input type="lname" name="lname" value="{{values.lname}}" id="" class="form-control" placeholder="">
            </div>

            <!--Phone Number-->
            <div class="form-group form-group-sm">
                <label for="">Phone No.</label>
                <input required type="phone" name="phone" value="{{values.phone}}" id="" class="form-control" placeholder="">
            </div>

            <!--Email-->
            <div class="form-group form-group-sm">
              <label for="">E-mail</label>
              <input required type="email" name="email" value="{{values.email}}" id="" class="form-control" placeholder="abc@def.com">
            </div>
            <!--Password-->
            <div class="form-group form-group-sm">
                <label for="">Password</label>
                <input required type="password" name="password" id="" class="form-control" placeholder="********************************">
            </div>
            <!--Button-->
            <div class="container-fluid">
                <div class="from-group form-group-sm">
                    <input type="submit" class="btn btn-info" value="Create Account">
                    <div class="btn border">
                        <a class="nav-link" style="padding: 0.1;" href="/login" style = "color : black;">Login Instead</a>
                    </div>
                </div>
            </div>

        </form>
    </div>    
</div>

{% endblock %}